body {
    display: flex;
    flex-direction: column;
}
.header, .footer, .hero {
    display: flex;
    background-color: #1F2937;
    color: white;
}
a {
    text-decoration: none;
    color: white;
}
.headerlogo {
    font-size: 24px;
}
.link {
    font-weight: 18px;
}